@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: White;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: #0D0B21;
  }
}

body {
  background: var(--background);
}

.drop-shadow-white:hover {
  filter: drop-shadow(0 0 8px #fff);
}

@media (width < 768px) {
  .xsm\:inline-flex{
    display: inline !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
